<% provide(:title, 'All users') %>
<div class="users-wrap">
<h1 class="users-heading">ユーザー一覧</h1>
  <% @users.each do |user| %>
    <div class="users-index-item">
      <div class="user-left">
        <%= gravatar_for user, size: 70 %>
      </div>
      <div class="user-right">
        <%= link_to user.name, user %>
      </div>
    </div>
  <% end %>

  <%= paginate @users %>
</div>