<% provide(:title, 'Sign up') %>
<% provide(:button_text, '新しいアカウントの作成') %>
<img src="/マハナコン5.png">
<div class="form-heading">アカウントの新規作成</div>
  <div class="form users-form">
    <div class="form-body">
      <%= render 'form' %>
    </div>
  </div>
</div>

