<div class="">
<img src = "<%="/user_images/#{@user.image_name}"%>" width="60" height="60">
<p><%= current_user.name %></p>
</div>
<%= link_to "プロフィール", current_user %>
<%= pluralize(current_user.microposts.count, "micropost") %>