<div class="post-show"> 
  <div class="microposts-wrap">
    <div class="text-center">
      <h2>投稿詳細</h2>
    </div>
    <%= render 'shared/micropost_show'%>
    <div style="padding-top: 30px;">
    <div class="text-center">
    <h4>コメント一覧</h4>
    </div>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>  
    <% if logged_in? %>
      <%= render partial: 'comments/form', locals: { comment: @comment, micropost: @micropost } %>
    <% end %>
  </div>
  </div>
  
</div>