/*
 * This is a manifest file that'll be compiled into application.css, which
 * will include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear
 * at the bottom of the compiled file so the styles you add here take
 * precedence over styles defined in any styles defined in the other CSS/SCSS
 * files in this directory. It is generally better to create a new file per
 * style scope.
 *
 
 */

 @import "bootstrap";

 //投稿画面のpadding

 .form-heading{
  padding-top: 100px;
 }

 body{
  font-family: 'Microsoft Sans Serif'; 
  background-color: rgba(226, 226, 226, 0.226);
  
 } 

  //最初の登録画面
  .container-top{
    width: 1170px;
    padding: 0 15px;
    margin:0 auto;
  }

 
  .background-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.308)), image-url('future_me_image1.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
   }
  
  .top-wrapper{
    padding: 200px 0 150px 0;
    color: rgb(255, 255, 255);
    background-size: cover;
    text-align: center;
  }
  
  .top-wrapper h1{
    opacity: 1;
    font-size: 70px;
    color: rgb(204, 255, 191);
    letter-spacing: 5px;
    font-family: "Microsoft Sans Serif";   
    margin-bottom: 50px;
    margin-top: -50px;
  }
  
  .top-wrapper h2{
    font-size: 30px;
  }
  
  .btn-twitter{
    padding: 6px 20px;
    color: white;
    display: inline-block;
    opacity: 0.9;
    border-radius: 4px;
  }

  .btn-easy-login{
    padding: 16px 48px;
    background-color: rgb(252, 185, 0);
    display: inline-block;
    opacity: 1;
    border-radius: 50px;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .btn-easy-login:hover{
    background-color: rgb(235, 172, 0);
  }
  
  .twitter{
    background-color: #55acee;
    margin-bottom: 120px;
  }

  .twitter:hover{
    background-color: #4a99d4;
    opacity: 0.8;
  }
  
  .signup{
    background-color: #239b76;
    margin-right: 11px;
  }
  .signup-test{
    background-color: #f5c02f;
    margin-right: 28px;
  }
  
  .btn-wrapper{
    margin: 20px;
    p{
    margin: 10px 0;
    }
  }
  
  //ヘッダー
  .navbar{
    background-color: rgba(34, 49, 52, 0.9);
    font-family: 'Microsoft Sans Serif'; 
  }
  .navbar-toggler {
    border-color: rgba(0,0,0,0);   
}
  
  .logo1{
    color: rgb(169, 255, 112);
    font-size: 30px;
    font-family: "Microsoft Sans Serif";
  }

  .logo2{
    color: white;
    font-size: 16px;
    font-family: 'Microsoft Sans Serif';  
  }
  
  .btn-head{
    padding: 5px 15px;
    display: inline-block;
    opacity: 0.9;
    border-radius: 4px;
  }

  .bg-selected{
    background-color: rgb(94, 94, 94);
  }
  

  //サイドバー

  .wrapper-s{
    display: flex;
    position: relative;
    //padding-left: -50px;
  }
  
  .wrapper-s .sidebar{
    width: 275px;
    height: 100%;
    background:  #a0c79f9c;
    padding: 30px 0px;
    position: fixed;
    border-radius:30px;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F9F9F9), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F9F9F9),color-stop(.75, #F9F9F9), color-stop(.75, transparent),to(transparent));
    -webkit-background-size: 3px 3px;    

  }
  
  .wrapper-s .sidebar h2{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
  }
  
  .wrapper-s .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    border-top: 1px solid rgba(255,255,255,0.05);
    list-style: none;
  }    
  
  .wrapper-s .sidebar ul li a{
    color: #646464;
    display: block;
  }
  
  .wrapper-s .sidebar ul li a .fas{
    width: 25px;
  }
  
  .wrapper-s .sidebar ul li:hover{
    //background-color: #4f8d5e;
  }
      
  .wrapper-s .sidebar ul li:hover a{
    color: rgb(0, 0, 0);
  }
   
  .wrapper-s .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .wrapper-s .sidebar .social_media a{
    display: block;
    width: 40px;
    background: #7d817e;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #fdfdfd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  //サイドバー右
  .sidebar-right{
    padding-top: 80px;
  }
  .sidebar-right-color{
    background-color: #e4ebe6e5;
  }

  
  //ユーザー一覧中央ぞろえ
  
  .users-wrap{
    width: 80%;
    margin: 0 auto;
    max-width: 600px;
  }
  
  .users-heading {
    font-weight: 300;
    margin: 15px 0 20px 150px;
    font-size: 40px;
    color: #1a1b1d;
  }
  
  .users-index-item {
    padding: 20px 30px;
    background-color: white;
    overflow: hidden;
    background-color: #f6f6f6;
    border-bottom: 1px solid #ccc;
    display: table;
    width: 100%;
  }
  
  .user-left img {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    box-shadow: 0 2px 6px #c1ced7;
    object-fit: cover;
  }
  
  .user-name a {
    font-weight: 600;
  }
  
  .user-name a:hover {
    color: #3ecdc6;
  }
  
  .user-left {
    float: left;
    width: 10%;
  }
  
  .user-right {
    width: 90%;
    padding-left: 25px;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
  }
  
  //投稿の中央ぞろえ
  .profile h1{
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 65px;
  }
  .microposts-wrap{
    width: 80%;
    margin: 0 auto;
    max-width: 650px;
  }
  
  //プロフィール画面のmicroposts
  .post-left img {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    box-shadow: 0 2px 6px #c1ced7;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: -10px;
  }
  
  
  .post-right {
    float: left;
    width: 50%;
    padding-left: 10px;
    text-align: left;
  }
  
  //HOME画面padding-top
  .home-wrap{
    padding-top: 75px;
  }

//投稿の中央ぞろえ
  .home-upper{
    height: 150px;
    max-height: 150px;
    width: 80%;
    margin: 0 auto;
    max-width: 600px;
    
    margin-bottom: 50px;
  }
  .home-upper-left {
    float: left;
    width: 30%;
    p{
      font-size:30px;
    }
  }
  
  .home-upper-right {
    float: right;
    width: 70%;
  }
  
  .field {
    resize: none;
    width:300px;
    height:100px;
  }
  
  .home-user{
  }
  //いいねボタンの色
  .like-btn{
    color: #8899a6;
  }
  .like-btn-unlike{
    color: #ff2579;
  }

  //コメントの色
  .post-comment{
    color: #25baff;
  }

