body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}
a {
  text-decoration: none;
}

.container-top{
  width: 1170px;
  padding: 0 15px;
  margin:0 auto;
}

.top-wrapper{
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  padding: 200px 0 150px 0;
  color: white;
  background-size: cover;
  text-align: center;
}

.top-wrapper h1{
  opacity: 0.8;
  font-size: 70px;
  letter-spacing: 5px;
  font-family: "Jenkins v2.0";   
}

.top-wrapper h2{
  font-size: 35px;
  opacity: 0.8;
  margin-bottom: 100px;
}

.btn{
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover{
  opacity: 1;
}

.signup{
  background-color: #239b76;
  margin-right: 11px;
}
.signup-test{
  background-color: #f5c02f;
  margin-right: 28px;
}

.facebook{
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter{
  background-color: #55acee;
  margin-bottom: 120px;
}

.btn-wrapper{
  margin: 20px;
  p{
  margin: 10px 0;
  }
}

.fa{
  margin-right: 5px;
}

header{
  height: 60px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left{
  float: left;
  padding: 9px 0 0 20px;
  margin-left: 15px;
}
.logo1{
  color: white;
  font-size: 30px;
}

.header-right {
  float: right;
  margin-right: 10px;
}

.right li{
  display: block;
  padding: 5px;
  margin: -1px 7px;
  .logo2{
  color: white;
  }
}

.right li{
  float: left;
  width: auto;
}

footer{
  height: 10px;
  width: 100%;
  background-color: rgba(162, 174, 177, 0.9);
  position: fixed;
  bottom: 0;
  z-index: 10;
  padding-bottom: 25px;
  p{
  color: #ffffff;
  font-size:12px;
  text-align: center;  
  padding: -5px 0 10px 0;
  }
}


.form-heading{
  text-align: center;
  font-size: 35px;
  margin: 100px 0 20px 0;
}
.form-body{
  text-align: center;
  p{
    color: white;
    margin-bottom: -10px;
  }
}
.users-form{
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  width: 325px;
  margin-bottom: 35px;
  margin: auto;
  //border-radius: 5px;
  padding: 10px;
}
.form-control{
  width: 300px;
  height: 25px;
  border-radius: 5px;
  
}
.btn-new-user{
  margin:20px;
  background-color: #f1b612;
  font-size: 18px;
}

