<div class="wrapper-s">
<div class="sidebar">
 <h2>Sidebar</h2>
<ul>
  <li><a href="/"><i class="fas fa-home"></i>ホーム</a></li>
  <li><a href="users/:id"><i class="fas fa-user"></i>プロフィール</a></li>
  <li><a href="/rank_all"><i class="fas fa-address-card"></i>全体ランキング</a></li>
  <li><a href="#"><i class="fas fa-home"></i>チャットルーム</a></li>
  <li><a href="/sort-micropost"><i class="fas fa-map-pin"></i>投稿詳細検索</a></li>
</ul> 
<div class="social_media">
<a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
<a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
</div>
</div>
</div>                         