<div class="wrapper-s">
<div class="sidebar">
 <h2>Sidebar</h2>
<ul>
  <li><a href="/"><i class="fas fa-home"></i>ホーム</a></li>
  <li><a href="＃""><i class="fas fa-user"></i>プロフィール</a></li>
  <li><a href="/rank_all"><i class="fas fa-address-card"></i>全体ランキング</a></li>
  <li><a href="#"><i class="fas fa-project-diagram"></i>for 学生</a></li>
  <li><a href="/recruit"><i class="fas fa-blog"></i>for 就活生</a></li>
  <li><a href="/work_rookie"><i class="fas fa-address-book"></i>for 社会人ルーキー</a></li>
  <li><a href="#"><i class="fas fa-map-pin"></i>for 社会人ミドル</a></li>
</ul> 
<div class="social_media">
<a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
<a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
</div>
</div>
</div>                         